.modal-container {
    display: flex;
  }
  
  .modal-body {
    min-width: 50%;
  }
  
  .modal-image {
    min-width: 50%;
  }
  
  .modal-image-container {
    min-width: 50%;
  }
  
  .modal-image-element {
    width: 40%;
  }